@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	min-height: 100vh;
	background: linear-gradient(#000000, #D30000);
	text-align: center;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 101%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100000;
	font-family: 'Poppins', sans-serif;
	user-select: none;
}
header .logo
{
	width: 3.5vw;
}
header ul
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5vw;
}
header ul li
{
	list-style: none;
	margin-left: 20px;
}
header ul li a
{
	color: #fff;
	border-radius: 0.75vw;
	text-decoration: none;
	padding: 6px 15px;
}
.im1
{
	border-radius: 20px;
	margin: 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.34) 0px 12px 13px, rgba(0, 0, 0, 0.18) 0px -3px 5px;
}
.im2
{
	border-radius: 20px;
	margin: 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.34) 0px 12px 13px, rgba(0, 0, 0, 0.18) 0px -3px 5px;
}
.im3
{
	border-radius: 20px;
	margin: 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.34) 0px 12px 13px, rgba(0, 0, 0, 0.18) 0px -3px 5px;
}
.im4
{
	border-radius: 20px;
	margin: 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.34) 0px 12px 13px, rgba(0, 0, 0, 0.18) 0px -3px 5px;
}
.im5
{
	border-radius: 20px;
	margin: 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.34) 0px 12px 13px, rgba(0, 0, 0, 0.18) 0px -3px 5px;
}
.im6
{
	border-radius: 20px;
	margin: 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.34) 0px 12px 13px, rgba(0, 0, 0, 0.18) 0px -3px 5px;
}
.im7
{
	border-radius: 20px;
	margin: 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.34) 0px 12px 13px, rgba(0, 0, 0, 0.18) 0px -3px 5px;
}
.im8
{
	border-radius: 20px;
	margin: 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.34) 0px 12px 13px, rgba(0, 0, 0, 0.18) 0px -3px 5px;
}