@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
body
{
	min-height: 100vh;
	background: linear-gradient(#FF0000,#FF69B4);
	overflow-x: hidden;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100000;
}
header .logo
{
	width: 120px;
}
header ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li
{
	list-style: none;
	margin-left: 20px;
}
header ul li a
{
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 10px;
}
header ul li a:hover,
header ul li a.active
{
	background: #fff;
	color: #ff0000;
}
section
{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 10px;
	display: flex;
	overflow: hidden;
		justify-content: center;
	align-items: center;
}
section:before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top,#880808,transparent);
	z-index: 1000;
}
section img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
section img#moon
{
	mix-blend-mode: screen;
}
section img#mountains_front
{
	z-index: 10;
}
#text
{
	position: absolute;
	right: -350px;
	color: #fff;
	white-space: nowrap;
	font-size: 6vw;
	z-index: 9;
}
#btn
{
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: #fff;
	color: #ff0000;
	font-size: 1.5em;
	z-index: 9;
	transform: translateY(100px);
}
.sec
{
	position: relative;
	padding: 100px;
	background: #880808;
}
.sec h2
{
	font-size: 5em;
	margin-bottom: 10;
	color: #fff;
}
.sec p
{
	font-size: 2em;
	color: #fff;
}
.sec2
{
	position: relative;
	padding: 100px;
	background: #880808;
	text-align: center;
}
.sec2 h2
{
	font-size: 3em;
	margin-bottom: 10;
	color: #fff;
}
.roster
{
	background: #880808;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: #fff;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card
{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #fff;
}
h5
{
	color: #fff;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p
{
	color: #fff;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer:before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top,#880808,transparent);
	z-index: 1000;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: 0.5s;
}
.end{
	position: absolute;
	color:#fff;
	bottom: 35px;
	font-size: 14px;
	z-index: 10000; 
}